body{
    font-family: 'Roboto Slab', serif;
    /* background-color: black; */
    background-color: #171717;   
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


/*CONTAINER*/
.container{
  width: 100%;
  margin: 0 auto;
  padding-top: 37px; 
}

.logo {
    width: 357px;
    height: 79px;   
}

/*Nav*/

.nav-top-left{
    border: 1px solid #E4B564;
    height: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px; 
}

.nav-top-left-button{
width: 16px;
height: 16px;
text-decoration: none;
color: #E4B564;
padding: 21px;
transition: color 0.2s linear;
}

.nav-top-left-button:hover {
    color: #fff;

}

.nav-top-left-img{
    margin-right: 5px;
    
}


.Header-iner{
    display: flex;
    justify-content: space-around;
}

/*INTRO*/

.Intro {
    display: block;
    color: #fff;
    padding-top: 40px;
    
}

.Inro-text{
        width: 1180px;
        height: 50px;
        padding-left: 0;
        font-size: 20px;    
}



/*MAIN*/

.main {
    width: 1245px;
    margin: 0 auto;
}

 .main-items{
    display: grid;
    grid-template-rows:  repeat( 2, 438px);
    grid-template-columns: repeat(6, 185px);
    gap: 27px;
    grid-template-areas: 
    "n1 n1 n2 n2 n3 n3"
    "n4 n4 n4 n5 n5 n5";
    justify-content: center;
    text-align: center;
    grid-row-gap: 0px;   
}

.main-items p{
    margin-right: 238px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700px;
    line-height: 28px;
    margin: 33px 0 10px;
}

.main-item-1{
    background-color: #634f2c;
    grid-area: n1;
    padding-top: 175px ;   
}

.main-item-2{
    background-color: #B4A385;
    grid-area: n2;
    padding-top: 160px ;
}

.main-item-3{
    background-color: #E4B564;
    grid-area: n3;
    padding-top: 175px ;
}

.main-item-4{
    background-color: #635A4A;
    grid-area: n4;
    padding-top: 175px ;
}

.main-item-5{
    background-color: #B08C4D;
    grid-area: n5;
    padding-top: 175px ;
}

.main-text {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 30px;
}

/*CENTRE-MENU*/


.centr-menu{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;   
    line-height: normal;
     
}

.centr-menu-items{
    display: grid;
    grid-template-columns: repeat(3, 405px);
    grid-template-rows: 255px 28px 96px 129px 277px;
    grid-template-areas: 
    "c1 c2 c3"
    "c1 c2 c5"
    "c4 c2 c5"
    "c4 c6 c5"
    "c4 c6 c7";
    justify-content: center;     
    gap: 23px; 
    margin-bottom: 150px;
}

.items-1{
    background-color: #0E0E0E;
    grid-row: c1;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    height: 313px;
    flex-shrink: 0;
} 

.items-2{
    background-color: #242424;
    grid-row: c2;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    height: 429px;
    flex-shrink: 0;  
}

.items-3{
    background-color: #1F1F1F;
    grid-row: c3;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;;
    height: 245px;
    flex-shrink: 0;
}

.items-4{
    background-color: #1F1F1F;
    grid-row: c4;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    height: 510px;
    flex-shrink: 0;  
}

.items-5{
    background-color: #0E0E0E;
    grid-row: c5;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    height: 295px;
    flex-shrink: 0;
    margin-top: 4px;   
}

.items-6{
    background-color: #E4B564;
    grid-row: c6;
    color: black;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    height: 375px;   
}

.items-7{
    background-color: #0A0909;
    grid-row: c7;
    padding-left: 30px;
    padding-top: 40px;
    width: 400px;
    height: 255px;
    flex-shrink: 0;
    margin-top: 1px;
}

/*FOOTER*/

.footer{
   background-color: #0E0E0E;
   
  
}

.text, .nav-footer-left{
    margin-top: 150px;
    
}
.footer-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    
}

.nav-footer-left{
    border: 1px solid #E4B564;
    height: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px; 
}

.nav-footer-left-button{
    width: 16px;
    height: 16px;
    text-decoration: none;
    color: #E4B564;
    padding: 42px;
    transition: color 0.2s linear;
    
}

.nav-footer-left-button:hover{
    color: #fff;
}

.footer-menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
    
}

.footer-menu-items{
    display: grid;
    grid-template-areas: 
    "f1 f1 f2 f2 f3 f3"
    "f1 f1 f2 f2 f3 f3"
    "f4 f4 f5 f5 f6 f6"
    "f4 f4 f5 f5 f6 f6"; 
    justify-content: center; 
      
}

.footer-item-1{
    background-color: #634F2C;
    grid-row: f1; 
    width: 430px;
    height: 350px;
    flex-shrink: 0;
    display: grid;  
    justify-content: center;
    align-items: center;
    align-content: center   ;
    
}

.img-1{
    width: 185px;
    height: 49px;
    flex-shrink: 0;
    
}

.footer-item-2{
    background-color: #E8D2AB;
    grid-row: f2;
    width: 430px;
    height: 350px;
    flex-shrink: 0;
    color: #fff;
    line-height: normal;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
     
}

.img-2{
    width: 62px;
    height: 55px;
    flex-shrink: 0;   
}

.text-logo{
    text-align: center;
}

.footer-item-3{
    background-color: #E4B564;
    grid-row: f3;
    width: 430px;
    height: 350px;
    flex-shrink: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
      
}

.img-3{
    width: 119px;
    height: 53px;
    flex-shrink: 0;
   justify-content: center;
}

.footer-item-4{
    background-color: #635A4A;
    grid-row: f4;
    width: 430px;
    height: 350px;
    flex-shrink: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.img-4{
    width: 185px;
    height: 49px;
    flex-shrink: 0;
}
.footer-item-4  .img-2{
    margin-left: 66px;
}

.footer-item-5{
    background-color: #B08C4D;
    grid-row: f5;
    width: 430px;
    height: 350px;
    flex-shrink: 0; 
    display: grid;
    justify-content: center;
    align-content: center; 
}
.footer-item-6{
    background-color: #634F2C;
    grid-row: f6;
    width: 430px;
    height: 350px;
    flex-shrink: 0;  
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-6{
    width: 185px;
    height: 49px;
    flex-shrink: 0;
    
}